@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar styling  */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}
nav {
  display: flex;
  background-color: #313552;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  gap: 0.5rem;
}
.logo img {
  height: 30px;
}

nav h2 {
  color: #fc4c78;
}

.navitems ul {
  color: white;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 500;
  align-items: center;
}

.navitems img {
  height: 26px;
}

.navlink {
  text-decoration: none;
  color: white;
}
.navlink:hover {
  color: #00e1ff;
  text-decoration: underline;
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Navbar styling ends */

/* NewsItem styling starts */
.news_image img {
  width: 240px;
  height: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.2s;
}

.news_image img:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.news {
  position: relative;
  padding: 10px 10px 0 0;
}
.newsitem {
  display: flex;
  width: 580px;
  height: 200px;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.5s;
}

.newsitem:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
  transform: scale(0.99);
}
.desc {
  font-size: 14px;
  margin: 5px 0 8px 0;
  word-break: break-all;
}

.readmorebtn a {
  border-radius: 2px;
  border: none;
  color: white;
  position: absolute;
  background: #cf2d55;
  bottom: 10px;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.readmorebtn a:hover {
  cursor: pointer;
  background: #922a44;
}
select {
  background-color: #00e1ff;
  font-size: 15px;
  font-weight: 600;
  color: #383333;
  width: 50px;
  border: none;
  padding: 2px;
}
.source {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  background: #d60000;
  color: white;
  min-width: 100px;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.menu {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999999999999999;
  display: none;
}

footer{
  text-align: center;
  padding: 20px 0;
  background-color: #494747;
  background-color: #2c2c32;
  color: #00e1ff;
  font-weight: 500;
  text-transform: uppercase;
}

.top {
  position: fixed;
  bottom: 67px;
  right: 20px;
  height: 50px;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

#error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  row-gap: 2rem;
}
#error h2 {
  color: #d60000;
  animation: color 2s linear infinite;
}

#link {
  text-decoration: none;
  background-color: #f7285c;
  color: white;
  font-weight: 600;
  width: 200px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;

}

.flag {
  filter: drop-shadow(0 0 1px rgb(59, 58, 58));
}

.menuimg{
  height: 38px;
  width: 40px;
  filter: invert(100%);
}


#errorimg {
  height: 160px;
}

#sgr {
  animation: color 2s linear infinite;
}
@keyframes color {
  0% {
    color: #d60000;
  }
  25% {
    color: #313552;
  }
  50% {
    color: #00e1ff;
  }
  75% {
    color: chartreuse;
  }
}

.one,
.two,
.three {
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
  background-color: white;
}

.newsfeed {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 35px 30px;
  justify-content: center;
  align-content: center;
}



#about{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0 0 20px;
  gap: 2rem;
}
#about p{
  line-height: 1.5;
  width: 60vw;
}

#about .links a{
  border-radius: 2px;
  border: none;
  color: white;
  background: #cf2d55;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}
#react{
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
.date {
  color: #922a44;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.loadingbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoryinfo {
  text-align: left;
  margin: 50px 0 0 40px;
}

.activeClassName {
  color: #00e1ff;
  text-decoration: none;
}

@media (max-width: 1050px) {
  nav {
    flex-direction: column;
    height: 100px;
  }
  .newsitem {
    width: 70vw;
  }
  .navitems ul {
    font-size: 14px;
  }
  .navitems img {
    height: 20px;
  }
}

@media (max-width: 800px) {
  #about p{
    width: 80vw;
  }
  .navitems ul {
    display: flex;
    flex-direction: column;
    background-color: #f7285c;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    width: 50%;
    left: -999px;
    height: 100vh;
    transition: all 0.45s;
    z-index: 99999;
  }
  .navitems img {
    width: 25px;
    height: 25px;
  }
  nav {
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .menu {
    display: block;
  }

  .newsitem {
    width: 90vw;
    height: 200px;
    transition: all 0.5s;
  }
  .news_image img {
    width: 150px;
    height: 200px;
  }

  .news {
    position: relative;
    padding: 7px 7px 0 0;
  }

  .desc {
    font-size: 14px;
    margin: 5px 0 8px 0;
    word-break: break-all;
  }

  .readmorebtn a {
    bottom: 8px;
  }

  .readmorebtn a {
    text-decoration: none;
    color: white;
  }

  .source {
    position: absolute;
    font-size: 8px;
    color: white;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .date {
    display: none;
  }

  .desc {
    font-size: 14px;
  }

  .title {
    font-size: 13px;
  }
  #react,#about h3,.links{
    margin: 0 auto;
  }
  #about p{
    width: 90vw;
  }
  #about h3{
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .date {
    display: block;
    bottom: 20px;
  }

  .newsitem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85vw;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.5s;
    background-color: #ffffff;
  }

  .news_image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .news {
    margin: 10px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 0 20px 0;
    gap: 0.4rem;

  }

  .desc {
    display: block;
  }

  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .categoryinfo {
    margin: 50px 0 0 0px;
  }
  .readmorebtn a {
    background: #cf2d55;
    border-radius: 5px;
    border: none;
    color: white;
    position: static;
  }
  #error h2{
    font-size: 20px;
  }
}
